*.iml
.DS_Store
/local.properties
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Build artifacts and native build outputs
**/build/
**/.gradle/
**/.cxx/
**/.externalNativeBuild/
**/captures/
.kotlin/
